extends layout2
block content
    script(src="/newJS.js")
    script(src="/CRUD_functions.js")
    link(rel='stylesheet', href='../css/addItemPage.css')
    .grid-container2
        .newItems
        .newItemHeader
            h1 Add new item
        form(action='http://localhost:8000/newItem', method='POST')
            div
            label(for='name') Enter item&apos;s name:
            input#name(type='text', name='Name', style='width: 30%;')
            br
            br
            label(for='style') Enter item&apos;s style:
            input#style(type='text', name='style', oninput='style', style='width: 30%;')
            br
            br
            label(for='price')
                b Enter item&apos;s price:
            input#price(type='text', name='price', style='width: 30%;')
            br
            br
            label(for='size')
                b Enter item&apos;s size:
            input#size(type='text', name='size', style='width: 30%;')
            br
            br
            label(for='brand')
                b Enter item&apos;s brand:
            input#brand(type='text', name='brand', style='width: 30%;')
            br
            br
            label(for='photo') Choose a photo of you to upload:
                   
            input#photo(type='file', name='photo', accept='.jpg, .jpeg, .png')
                
            br
            br
            input#store(type='text', value=''  name='storeid', style='width: 30%;')
            .submit
            br
            br
            input.submitbutton(type='submit', value='Submit', onclick='alertOk()')
        br
        br
    script.
        document.getElementById('store').setAttribute('value', localStorage.getItem('loggedUser'));
        document.getElementById("store").style.display = "none";
        
        function alertOk()
        {
            alert('Item added successfully!');
        }