extends layout2
block content
    script(src="/newJS.js")
    script(src="/CRUD_functions.js")
    link(rel='stylesheet', href='../css/favorites.css')
    .grid-container2
        .newItems
            .newItemHeader
                h1 My Favorites
            .item1
                img#newItem(src='../image/shorts1.jpeg', alt='item1')
            .item2
                img#newItem(src='../image/top.jpeg', alt='item2')
            .item3
                img#newItem(src='../image/shorts2.jpeg', alt='item3')
            .item4
                img#newItem(src='../image/jaket.jpeg', alt='item4')
            .details1
                | White shorts
                br
                | Style: Sport
                br
                | Price: 30 NIS
            .details2
                | Grey top
                br
                | Style: Underwear
                br
                | Price: 25 NIS
            .details3
                | Grey loose shorts
                br
                | Style: Casual
                br
                | Price: 40 NIS
            .details4
                | Grey jacket
                br
                | Style: Casual
                br
                | Price: 50 NIS
            form#cart(action='http://localhost:8000/addToCart', method='POST')
                .addtocart1
                    button.Add(type='submit', name='item1', value='Close') Add to cart
                .addtocart2
                    button.Add(type='submit', name='item2', value='Close') Add to cart
                .addtocart3
                    button.Add(type='submit', name='item3', value='Close') Add to cart
                .addtocart4
                    button.Add(type='submit', name='item4', value='Close') Add to cart
            form#fav(action='http://localhost:8000/removeItemFromFav', method='POST')
                .remove1
                    button.Add(type='submit', name='fav1', value='Close') Remove item
                .remove2
                    button.Add(type='submit', name='fav2', value='Close') Remove item
                .remove3
                    button.Add(type='submit', name='fav3', value='Close') Remove item
                .remove4
                    button.Add(type='submit', name='fav4', value='Close') Remove item
    
    script.
        if (window.location.href.indexOf("favorites?cart=1") != -1)
            alert("item was added to shopping bag successfully");
        else if (window.location.href.indexOf("favorites?fav=1") != -1)
            alert("item was removed from favorites successfully");
        else if (window.location.href.indexOf("favorites?cart=2") != -1)
            alert("error while adding to shopping bag, please try again");
        else if (window.location.href.indexOf("favorites?fav=2") != -1)
            alert("error while removing from favorites, please try again");

