extends layout2
block content
    script(src="/newJS.js")
    script(src="/CRUD_functions.js")
    link(rel='stylesheet', href='../css/communityPage.css')
    .grid-container2
        .newCommunities
            .newCommunityHeader
                h1 Boho community
            .aboutTheCommunity
                h1 Welcome to the boho community - where only chic is aloud !
            .headerLeft
                h2 Style
            .left
                .item1
                    img#newItem(src='../image/boho1.jpeg', alt='item1')
                .item2
                    img#newItem(src='../image/boho2.jpeg', alt='item2')
                .item3
                    img#newItem(src='../image/boho3.jpeg', alt='item3')
                .item4
                    img#newItem(src='../image/boho4.jpeg', alt='item4')
            .headerRight
                h2 Members
            .right
                .member1
                    img#newItem(src='../image/a.jpeg', alt='member1')
                .member2
                    img#newItem(src='../image/f.jpeg', alt='member2')
                .member3
                    img#newItem(src='../image/d.jpeg', alt='member3')
                .member4
                    img#newItem(src='../image/c.jpeg', alt='member4')
