script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
html
    head
        link(rel='stylesheet' href='../css/constant.css')
        script(src='../newJS.js')
        meta(charset='utf-8')
        
    body
        .header
            .grid-container1
                .logoImg
                    img#logoImg(src='../image/logoimg.png' alt='logo')
                .titleName
                    a#titleName FashionSocial
        .nav
            .navbar
                br
                div
                    a(href='/') Home
                div
                    a(href='about') About
                div
                    a(href='stores') Stores
                div
                    a(href='community') Community
                div
                    a(href='contactUs') Contact-us
                div
                    a(onclick='onButtonProfile()') My-Profile
            .connect
                br
                a(href='connect')
                    img#connectImg(src='../image/myprofile-removebg-preview.png' alt='My profile')
                a(href='favorites')
                    img#connectImg(src='../image/fav-removebg-preview.png' alt='Favorites')
                a(href='shoppingbag')
                    img#connectImg(src='../image/bag-removebg-preview.png' alt='Shopping bag')
                    a(onclick='signOut()')
                    img#connectImg(onclick='signOut()' src='../image/signout.png' alt='Shopping bag')
        block content
        br
        .footer
            #footer
            br
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shipping Policy
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Newsletter
            br
        
        script.
                  function onButtonProfile(){
                     var userName = window.localStorage.getItem("loggedUser");
                     $.ajax({
                      "url": "http://localhost:8000/myProfile",
                      "data": { id: userName, },
                      "method": "GET",
                      dataType: 'html', // it's no JSON response!
                        success: function(response) {
                             document.body.innerHTML = '';
                             document.write(response); // overwrite current document
                             window.history.pushState("MyProfile", "My Profile", "MyProfile");
                             console.log(window.location)
                        },
                        error: function(err) {
                             alert(err+" did happen, please retry");
                        }
                    }); 
                  }  
                 function signOut(){
                     localStorage.removeItem("loggedUser")
                  }  
