html
    head
        link(rel='stylesheet' href='../css/constant.css')
        script(src='../newJS.js')
        meta(charset='utf-8')
        title
    body
        .header
            .grid-container1
                .logoImg
                    img#logoImg(src='../image/logoimg.png' alt='logo')
                .titleName
                    a#titleName FashionSocial
        .nav
            .navbar
                br
                div
                    a(href='/') Home
                div
                    a(href='about') About
                div
                    a(href='stores') Stores
                div
                    a(href='community') Community
                div
                    a(href='contactUs') Contact-us
                div
                    a(href='myProfile') My-Profile
            .connect
                br
                a(href='connect')
                    img#connectImg(src='../image/myprofile-removebg-preview.png' alt='My profile')
                a(href='../html/favorites.html')
                    img#connectImg(src='../image/fav-removebg-preview.png' alt='Favorites')
                a(href='../html/shoppingbag.html')
                    img#connectImg(src='../image/bag-removebg-preview.png' alt='Shopping bag')
        block content
        br
        .footer
            #footer
            br
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shipping Policy
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Newsletter
            br
