html
    head
        link(rel='stylesheet' href='../css/constant.css')
        script(src='../newJS.js')
        meta(charset='utf-8')
        title
    body
        .header
            .grid-container1
                .logoImg
                    img#logoImg(src='../image/logoimg.png' alt='logo')
                .titleName
                    a#titleName FashionSocial
        .nav
            .navbar
                br
                div
                    a(href='/') Home
                div
                    a(href='about') About
                div
                    a(href='stores') Stores
                div
                    a(href='community') Community
                div
                    a(href='contactUs') Contact-us
                div
                    a(href='myProfile') My-Profile
            .connect
                br
                a(href='connect')
                    img#connectImg(src='../image/myprofile-removebg-preview.png' alt='My profile')
                a(href='favorites')
                    img#connectImg(src='../image/fav-removebg-preview.png' alt='Favorites')
                a(href='shoppingbag')
                    img#connectImg(src='../image/bag-removebg-preview.png' alt='Shopping bag')
        block content
        br
        .footer
            #footer
            br
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Privacy Policy
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Shipping Policy
            a.text &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Newsletter
            br
        script.
            if (window.location.href.indexOf("logIn") != -1) {
            alert("log in successfully!");
            }
            else if (window.location.href.indexOf("newUser") != -1) {
            alert("new user created successfully!");
            var data = sessionStorage.getItem('Style');
            swal("Hi!\\nWe saw that you especially like " + data + "-style clothes, so to make it easier to get started on the site and find what you love.\n we want to recommend you a community that will suit you exactly! The “My Clothes” community that contains clothes that are mostly in " + data + "-style, your favorite.\nEnjoy!");
            }
            else if (window.location.href.indexOf("newContactRequest") != -1) {
            alert("new contact request was sent successfully!");
            }
            else if (window.location.href.indexOf("connect") != -1) {
            alert("Email doesn't exists in our systems");
                
