extends layout2
block content
    script(src="/newJS.js")
    script(src="/CRUD_functions.js")
    link(rel='stylesheet', href='../css/myprofile.css')
    .grid-container2
        
            
            div.flex
                
                
                 
                 
                    each item in advantages 
                          .item22
                            img#addItem(src='/image/'+item.photo)
                            br
                            div= item.name
                            div Style: #{item.style}
                            div Price: #{item.price} NIS
                            .addtocart( onclick="addedToCart(item)") Add to cart
                            .addtocart( onclick='addedTofav(item)') Add to fav