extends layout2


block content

    link(rel='stylesheet', href='../css/stores.css')
    .grid-container2
        .headerLeft
            h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Friends&apos;s stores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .left
            .item1
                a(onclick='onButtonProfileStore("brenda@gmail.com")')
                    img#newItem(src='../image/a.jpeg', alt='item1')
            .item2
                a(onclick='onButtonProfileStore("shay@gmail.com")')
                    img#newItem(src='../image/b.jpeg', alt='item2')
            .item3
                a(onclick='onButtonProfileStore("lihi@gmail.com")')
                    img#newItem(src='../image/e.jpeg', alt='item3')
            .item4
                a(onclick='onButtonProfileStore("tom@gmail.com")')
                    img#newItem(src='../image/d.jpeg', alt='item4')
            
            .details1
                | Brenda&apos;s store
                br
                | Style: Accessories
            .details2
                | Shay&apos;s store
                br
                | Style: Elegant
            .details3
                | Lihi&apos;s store
                br
                | Style: Party
            .details4
                | Tom&apos;s store
                br
                | Style: Party, Casual

        .headerRight
            h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offered stores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .right
            .item7
                a(onclick='onButtonProfileStore("Nitzan@gmail.com")')
                    img#newItem(src='../image/c.jpeg', alt='item7')
            .item8
                a(onclick='onButtonProfileStore("Noa@gmail.com")')
                    img#newItem(src='../image/f.jpeg', alt='item8')
            .item9
               a(onclick='onButtonProfileStore("Gal@gmail.com")')
                    img#newItem(src='../image/g.jpg', alt='item9')
            .item10
               a(onclick='onButtonProfileStore("Maya@gmail.com")')
                    img#newItem(src='../image/h.jpg', alt='item10')

            .details7
                | Nitzan&apos;s store
                br
                | Style: Classic, Casual
            .details8
                | Noa&apos;s store
                br
                | Style: Dramatic
            .details9
                | Gal&apos;s store
                br
                | Style: Dramatic, Goth
            .details10
                | Maya&apos;s store
                br
                | Style: Party, Casual
            
            script.
                  function onButtonProfileStore(name){
                    
                     $.ajax({
                      "url": "http://localhost:8000/otherStore",
                      "data": { id: name, },
                      "method": "GET",
                      dataType: 'html', // it's no JSON response!
                        success: function(response) {
                             document.body.innerHTML = '';
                             document.write(response); // overwrite current document
                             window.history.pushState(name, name, "otherStore");
                             console.log(window.location)
                        },
                        error: function(err) {
                             alert(err+" did happen, please retry");
                        }
                    }); 
                  }  

