extends layout2

block content
    link(rel='stylesheet', href='../css/stores.css')
    .grid-container2
        .headerLeft
            h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Friends&apos;s stores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .left
            .item1
                a(href='storeBrenda')
                    img#newItem(src='../image/a.jpeg', alt='item1')
            .item2
                img#newItem(src='../image/d.jpeg', alt='item2')
            .item3
                img#newItem(src='../image/b.jpeg', alt='item3')
            .item4
                img#newItem(src='../image/c.jpeg', alt='item4')
            .item5
                img#newItem(src='../image/e.jpeg', alt='item5')
            .item6
                img#newItem(src='../image/f.jpeg', alt='item6')
            .details1
                | Brenda&apos;s store
                br
                | Style: Accessories
            .details2
                | Danit&apos;s store
                br
                | Style: Elegant
            .details3
                | Neta&apos;s store
                br
                | Style: Party
            .details4
                | Shay&apos;s store
                br
                | Style: Party, Casual
            .details5
                | Tom&apos;s store
                br
                | Style: Casual
            .details6
                | Lihi&apos;s store
                br
                | Style: Classic, Elegant
        .headerRight
            h2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Offered stores&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        .right
            .item7
                img#newItem(src='../image/g.jpg', alt='item7')
            .item8
                img#newItem(src='../image/h.jpg', alt='item8')
            .item9
                img#newItem(src='../image/i.jpg', alt='item9')
            .item10
                img#newItem(src='../image/j.jpg', alt='item10')
            .item11
                img#newItem(src='../image/k.jpg', alt='item11')
            .item12
                img#newItem(src='../image/l.jpg', alt='item12')
            .details7
                | Nitzan&apos;s store
                br
                | Style: Classic, Casual
            .details8
                | Noa&apos;s store
                br
                | Style: Dramatic
            .details9
                | Gal&apos;s store
                br
                | Style: Dramatic, Goth
            .details10
                | Maya&apos;s store
                br
                | Style: Party, Casual
            .details11
                | Tamar&apos;s store
                br
                | Style: Fancy, Elegant
            .details12
                | Adi&apos;s store
                br
                | Style: Fancy
